src/main/java/com/citycon/clientService/GetAllUsersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="GetAllUsersService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://minuon.mooo.com:8080/StorkExpress/GetAllUsersService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTestString">
<part name="parameters" element="tns:getTestString"/>
</message>
<message name="getTestStringResponse">
<part name="parameters" element="tns:getTestStringResponse"/>
</message>
<message name="sayHelloTo">
<part name="parameters" element="tns:sayHelloTo"/>
</message>
<message name="sayHelloToResponse">
<part name="parameters" element="tns:sayHelloToResponse"/>
</message>
<message name="getTestUser">
<part name="parameters" element="tns:getTestUser"/>
</message>
<message name="getTestUserResponse">
<part name="parameters" element="tns:getTestUserResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<portType name="GetAllUsers">
<operation name="getTestString">
<input wsam:Action="http://services/GetAllUsers/getTestStringRequest" message="tns:getTestString"/>
<output wsam:Action="http://services/GetAllUsers/getTestStringResponse" message="tns:getTestStringResponse"/>
</operation>
<operation name="sayHelloTo">
<input wsam:Action="http://services/GetAllUsers/sayHelloToRequest" message="tns:sayHelloTo"/>
<output wsam:Action="http://services/GetAllUsers/sayHelloToResponse" message="tns:sayHelloToResponse"/>
</operation>
<operation name="getTestUser">
<input wsam:Action="http://services/GetAllUsers/getTestUserRequest" message="tns:getTestUser"/>
<output wsam:Action="http://services/GetAllUsers/getTestUserResponse" message="tns:getTestUserResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://services/GetAllUsers/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://services/GetAllUsers/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
</portType>
<binding name="GetAllUsersPortBinding" type="tns:GetAllUsers">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloTo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTestUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GetAllUsersService">
<port name="GetAllUsersPort" binding="tns:GetAllUsersPortBinding">
<soap:address location="http://minuon.mooo.com:8080/StorkExpress/GetAllUsersService"/>
</port>
</service>
</definitions>